{% extends "shop/base_core.html" %}
{% block title %}Payment canceled{% endblock %}
{% block content %}
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Payment status</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

        	<div class="error-content text-center" style="background-image: url(assets/images/backgrounds/error-bg.jpg)">
            	<div class="container">
            		<h1 class="error-title">Your payment has not been processed</h1><!-- End .error-title -->
            		<p>There was a problem processing your payment. Please try again or contact customer care</p>
            	</div><!-- End .container -->
        	</div><!-- End .error-content text-center -->
{% endblock %}