{% extends "shop/base_core.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Account</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="dashboard">
        <div class="container">
            <div class="row">
                {% include 'profile/profile_sidebar.html' %}

                <div class="col-md-8 col-lg-9">
                    <div class="tab-content">

                        <div class="tab-pane fade show active" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                            <form method="post" action="#">
                                {% csrf_token %}
                                <label>Address </label>
                                {% render_field profile_form.address|attr:'required:true' class="form-control" %}

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Town/City </label>
                                        {% render_field profile_form.city|attr:'required:true' class="form-control" %}
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Postal code </label>
                                        {% render_field profile_form.postal_code|attr:'required:true' class="form-control" %}
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>First name </label>
                                        {% render_field user_form.first_name|attr:'required:true' class="form-control" %}
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Second name </label>
                                        {% render_field user_form.last_name|attr:'required:true' class="form-control" %}
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <label>Email </label>
                                {% render_field user_form.email|attr:'required:true' class="form-control" %}

                                <button type="submit" class="btn btn-outline-primary-2">
                                    <span>SAVE CHANGES</span>
                                    <i class="icon-long-arrow-right"></i>
                                </button>
                            </form>
                        </div><!-- .End .tab-pane -->
                    </div>
                </div><!-- End .col-lg-9 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .dashboard -->
</div><!-- End .page-content -->
{% endblock%}