{% extends "shop/base_core.html" %}
{% load static %}
{% load humanize %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
{% include "shop/base_home_header.html" with categories=categories %}

<div class="container new-arrivals">

                <hr class="mb-5 mt-8">

                <div class="heading heading-center mb-3">
                    <h2 class="title">Recommended for you </h2><!-- End .title -->

                    <ul class="nav nav-pills justify-content-center" role="tablist">

<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link active" id="all" data-toggle="tab" href="/" role="tab" aria-controls="arrivals-all-tab" aria-selected="true">All</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" id="arrivals-women-link" data-toggle="tab" href="#arrivals-women-tab" role="tab" aria-controls="arrivals-women-tab" aria-selected="false">Women</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" id="arrivals-men-link" data-toggle="tab" href="#arrivals-men-tab" role="tab" aria-controls="arrivals-men-tab" aria-selected="false">Men</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" id="arrivals-shoes-link" data-toggle="tab" href="#arrivals-shoes-tab" role="tab" aria-controls="arrivals-shoes-tab" aria-selected="false">Shoes</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" id="arrivals-acc-link" data-toggle="tab" href="#arrivals-acc-tab" role="tab" aria-controls="arrivals-acc-tab" aria-selected="false">Accessories</a>-->
<!--                        </li>-->
                    </ul>
                </div><!-- End .heading -->

                <div class="tab-content tab-content-carousel">
                    <div class="tab-pane p-0 fade show active" id="arrivals-all-tab" role="tabpanel" aria-labelledby="all">
                        <div class="row">
                            {% for product in products %}
                            <div class="col-xl-5col col-lg-3 col-md-4 col-6">
                                <div class="product demo21">
                                    <figure class="product-media">
                                        <a href="{{ product.get_absolute_url }}">
                                            {% for image in product.images.all %}
                                            {% if image.image_type == 'PRI'%}
                                            <img src="{{image.image.url}}" alt="Product image" class="product-image">
                                            {% endif %}
                                            {% empty %}
                                            <img src="{% static 'img/no_image.png' %}" alt="Product image" class="product-image">
                                        {% endfor %}
                                        </a>
                                    </figure><!-- End .product-media -->

                                    <div class="product-body text-center">
                                        <div class="product-cat">
                                            <a href="/{{ product.category }}">{{ product.category }}</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="cur-price">Ksh. {{ product.price|intcomma }}</span>
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>ADD TO CART</span></a>
                                        </div><!-- End .product-action -->


                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div>
                            {% endfor %}
                        </div>
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane p-0 fade" id="arrivals-women-tab" role="tabpanel" aria-labelledby="arrivals-women-link">
                        <div class="row">
                            <div class="col-xl-5col col-lg-3 col-md-4 col-6">
                                <div class="product demo21">
                                    <figure class="product-media">
                                        <span class="product-label label-sale">Sale</span>
                                        <a href="product.html">
                                            <img src="{% static 'assets/images/demos/demo-21/newArrivals/product-2.jpg' %}" alt="Product image" class="product-image">
                                        </a>

                                    </figure><!-- End .product-media -->

                                    <div class="product-body text-center">
                                        <div class="product-cat">
                                            <a href="#">Jackets & Vests</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">The North Face Fanorak 2.0</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="new-price">$76.99</span>
                                            <span class="old-price">Was $109.99</span>
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>ADD TO CART</span></a>
                                        </div><!-- End .product-action -->

                                        <a href="#" class="btn-addtolist"><span>&nbsp;Add to Wishlist</span></a>

                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div>
                            <div class="col-xl-5col col-lg-3 col-md-4 col-6">
                                <div class="product demo21">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="{% static 'assets/images/demos/demo-21/newArrivals/product-6.jpg' %}" alt="Product image" class="product-image">
                                        </a>

                                    </figure><!-- End .product-media -->

                                    <div class="product-body text-center">
                                        <div class="product-cat">
                                            <a href="#">Tops</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">Alphaskin Sport Bra</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="cur-price">$34.99</span>
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->

                                        <div class="product-nav product-nav-dots">
                                            <a href="#" class="active" style="background: #d64042;"><span class="sr-only">Color name</span></a>
                                            <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                        </div><!-- End .product-nav -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>ADD TO CART</span></a>
                                        </div><!-- End .product-action -->

                                        <a href="#" class="btn-addtolist"><span>&nbsp;Add to Wishlist</span></a>

                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div>
                        </div>
                    </div><!-- .End .tab-pane -->

                    <div class="tab-pane p-0 fade" id="arrivals-men-tab" role="tabpanel" aria-labelledby="arrivals-men-link">
                        <div class="row">
                            <div class="col-xl-5col col-lg-3 col-md-4 col-6">
                                <div class="product demo21">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="{% static 'assets/images/demos/demo-21/newArrivals/product-7.jpg' %}" alt="Product image" class="product-image">
                                        </a>

                                    </figure><!-- End .product-media -->

                                    <div class="product-body text-center">
                                        <div class="product-cat">
                                            <a href="#">Jackets & Vests</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">Watertight Jacket</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="cur-price">$76.99</span>
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>ADD TO CART</span></a>
                                        </div><!-- End .product-action -->

                                        <a href="#" class="btn-addtolist"><span>&nbsp;Add to Wishlist</span></a>

                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div>
                        </div>
                    </div><!-- .End .tab-pane -->

                    <div class="tab-pane p-0 fade" id="arrivals-shoes-tab" role="tabpanel" aria-labelledby="arrivals-shoes-link">
                        <div class="row">
                            <div class="col-xl-5col col-lg-3 col-md-4 col-6">

                                <div class="product demo21">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="{% static 'assets/images/demos/demo-21/newArrivals/product-1.jpg' %}" alt="Product image" class="product-image">
                                        </a>

                                    </figure><!-- End .product-media -->

                                    <div class="product-body text-center">
                                        <div class="product-cat">
                                            <a href="#">Shoes</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">UA Spawn Low</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="cur-price">$77.99</span>
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->

                                        <div class="product-nav product-nav-dots">
                                            <a href="#" class="active" style="background: #34529d;"><span class="sr-only">Color name</span></a>
                                            <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                        </div><!-- End .product-nav -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>ADD TO CART</span></a>
                                        </div><!-- End .product-action -->

                                        <a href="#" class="btn-addtolist"><span>&nbsp;Add to Wishlist</span></a>

                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div>
                            <div class="col-xl-5col col-lg-3 col-md-4 col-6">
                                <div class="product demo21">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="{% static 'assets/images/demos/demo-21/newArrivals/product-4.jpg' %}" alt="Product image" class="product-image">
                                        </a>

                                    </figure><!-- End .product-media -->

                                    <div class="product-body text-center">
                                        <div class="product-cat">
                                            <a href="#">Shoes</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">Ignite Limitless Leather</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="cur-price">$52.66</span>
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>ADD TO CART</span></a>
                                        </div><!-- End .product-action -->

                                        <a href="#" class="btn-addtolist"><span>&nbsp;Add to Wishlist</span></a>

                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div>
                            <div class="col-xl-5col col-lg-3 col-md-4 col-6">
                                <div class="product demo21">
                                    <figure class="product-media">
                                        <span class="product-label label-sale">Sale</span>
                                        <a href="product.html">
                                            <img src="{% static 'assets/images/demos/demo-21/newArrivals/product-8.jpg' %}" alt="Product image" class="product-image">
                                        </a>

                                    </figure><!-- End .product-media -->

                                    <div class="product-body text-center">
                                        <div class="product-cat">
                                            <a href="#">Shoes</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">Y-3 by Yohji Yamamoto</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="new-price">$239.99</span>
                                            <span class="old-price">Was $400.00</span>
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>ADD TO CART</span></a>
                                        </div><!-- End .product-action -->

                                        <a href="#" class="btn-addtolist"><span>&nbsp;Add to Wishlist</span></a>

                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div>
                            <div class="col-xl-5col col-lg-3 col-md-4 col-6">
                                <div class="product demo21">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="{% static 'assets/images/demos/demo-21/newArrivals/product-10.jpg' %}" alt="Product image" class="product-image">
                                        </a>

                                    </figure><!-- End .product-media -->

                                    <div class="product-body text-center">
                                        <div class="product-cat">
                                            <a href="#">Shoes</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">On Cloudflyer</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="cur-price">$127.99</span>
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>ADD TO CART</span></a>
                                        </div><!-- End .product-action -->

                                        <a href="#" class="btn-addtolist"><span>&nbsp;Add to Wishlist</span></a>

                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div>
                        </div>
                    </div><!-- .End .tab-pane -->

                    <div class="tab-pane p-0 fade" id="arrivals-acc-tab" role="tabpanel" aria-labelledby="arrivals-acc-link">
                        <div class="row">
                            <div class="col-xl-5col col-lg-3 col-md-4 col-6">
                                <div class="product demo21">
                                    <figure class="product-media">
                                        <span class="product-label label-sale">Sale</span>
                                        <a href="product.html">
                                            <img src="{% static 'assets/images/demos/demo-21/newArrivals/product-3.jpg' %}" alt="Product image" class="product-image">
                                        </a>

                                    </figure><!-- End .product-media -->

                                    <div class="product-body text-center">
                                        <div class="product-cat">
                                            <a href="#">Bags</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">Osprey Talia</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="new-price">$67.50</span>
                                            <span class="old-price">Was $150.00</span>
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>ADD TO CART</span></a>
                                        </div><!-- End .product-action -->

                                        <a href="#" class="btn-addtolist"><span>&nbsp;Add to Wishlist</span></a>

                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div>
                            <div class="col-xl-5col col-lg-3 col-md-4 col-6">
                                <div class="product demo21">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="{% static 'assets/images/demos/demo-21/newArrivals/product-5.jpg' %}" alt="Product image" class="product-image">
                                        </a>

                                    </figure><!-- End .product-media -->

                                    <div class="product-body text-center">
                                        <div class="product-cat">
                                            <a href="#">Accessories</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">Small Sleeping Bag</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="cur-price">$299.99</span>
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>ADD TO CART</span></a>
                                        </div><!-- End .product-action -->

                                        <a href="#" class="btn-addtolist"><span>&nbsp;Add to Wishlist</span></a>

                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div>
                            <div class="col-xl-5col col-lg-3 col-md-4 col-6">
                                <div class="product demo21">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="{% static 'assets/images/demos/demo-21/newArrivals/product-9.jpg' %}" alt="Product image" class="product-image">
                                        </a>

                                    </figure><!-- End .product-media -->

                                    <div class="product-body text-center">
                                        <div class="product-cat">
                                            <a href="#">Bags</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">Marmot Empire Daypack</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="cur-price">$59.99</span>
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>ADD TO CART</span></a>
                                        </div><!-- End .product-action -->

                                        <a href="#" class="btn-addtolist"><span>&nbsp;Add to Wishlist</span></a>

                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div>

                        </div>
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
                <div class="text-center">
                    <a href="category.html" class="btn btn-viewMore">
                        <span>VIEW MORE PRODUCTS</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div>
            </div><!-- End .container -->
{% for product in best_sellers %}
<div class="container bestsellers">
                <hr class="mb-3">
                <div class="heading">
                    <h2 class="title text-center">BEST SELLERS</h2>
                    <p class="content text-center mb-4">The Trends Boutique: The latest fashion trends from top brands!</p>
                </div>

                <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                    data-owl-options='{
                        "nav": true,
                        "dots": false,
                        "margin": 20,
                        "loop": false,
                        "responsive": {
                            "0": {

                                "items":2
                            },
                            "768": {
                                "items":3
                            },
                            "992": {
                                "items":4
                            }
                        }
                    }'>
                    {% if product.best_seller %}
                    <div class="product demo21">
                        <figure class="product-media">
<!--                            <span class="product-label label-sale">Sale</span>-->
<!--                            <span class="product-label label-new">New</span>-->
                            <a href="product.html">
                                {% for image in product.images.all %}
                                {% if image.image_type == 'PRI'%}
                                <img src="{{image.image.url}}" alt="Product image" class="product-image">
                                {% else%}
                                <img src="{{image.image.url}}" alt="Product image" class="product-image-hover">
                                {% endif%}
                                {% endfor %}
                            </a>

                        </figure><!-- End .product-media -->

                        <div class="product-body text-center">
                            <div class="product-cat">
                                <a href="#">Shoes</a>
                            </div><!-- End .product-cat -->
                            <h3 class="product-title"><a href="product.html">{{ product.name }}</a></h3><!-- End .product-title -->
                            <div class="product-price">
                                <span class="new-price">{{ product.price }}</span>
                                <span class="old-price">Was $75.00</span>
                            </div><!-- End .product-price -->
                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                </div><!-- End .ratings -->
                                <span class="ratings-text">( 2 Reviews )</span>
                            </div><!-- End .rating-container -->

                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart" title="Add to cart"><span>ADD TO CART</span></a>
                                <a href="#" class="btn-addtolist"><span>&nbsp;Add to Wishlist</span></a>
                            </div><!-- End .product-action -->


                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                    {% endif %}

                </div><!-- End .owl-carousel -->
            </div>

{% endfor %}
{% include "shop/base_home_footer.html" %}
{% endblock %}